<ion-header>
  <ion-navbar>
    <ion-title *ngIf="variaveisGlobais.getEstaLogado()">
      Usuario: {{variaveisGlobais.getUsuario()}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
 <ion-list *ngFor="let banda of bandas">

<ion-card>

  <ion-card-header>
    {{banda.bando}}
  </ion-card-header>
  <ion-card-content>
    {{banda.genero}}
  </ion-card-content>
<ion-thumbnail>
  <a href="{{banda.site}}" target="blank" >
    <img [src]="banda.img">
  </a>
</ion-thumbnail>

</ion-card>




 </ion-list>
  
  

</ion-content>
